*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body{
  background-color: #191923;
  width: 100%;
  height: 100vh;
}

.center{
  width: 100%;
  text-align: center;
}

.cBlanco{
  color: white;
}

.header{
  width: 100%;
  height: 100px;
  background-color: #9a24eb;
}



#title-toop{
  font-weight: bold;
  font-size: 20px;
}

.card{
  width: 100%;
  height: fill;
  background-color: #262930;
  border-radius: 10px;
  padding: 16px;
  margin-top: 16px;
  color: #f0f3fa;
}

.content{
  margin-top: 100px;
  margin: 16px;
  animation-name: up;
  animation-duration: 2s;
}

@keyframes up {
  0% {
    max-height: 0px;
}

100% {
    max-height: 40%;
}
}

.btn-group button {
  background-color: #9a24eb; 
  color: white; 
  border-radius: 25px; 
  color: white; 
  padding: 10px 24px;
}

.btn-select{
  background-color: #a83ef0 !important; 
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.background-btn{
  background-color: #9a24eb !important;

}

.margin-sides{
  margin-left: 16px;
  margin-right: 16px;
}

#map {
  width: fill;
  height: 85vh;
  border-radius: 10px;
}

.positon{
  width: 100%;
  height: 100%;
}

.contact_form{	
	width: fill; 
  height: auto;
	border-radius: 10px;   
  background-color: #fbfbfb; 
  padding-left: 30px; 
  padding-right: 30px; 
  overflow-y: scroll;
}


input{
	background-color: #fbfbfb; 
	width: fill; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #9a24eb; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
	width: fill; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #9a24eb; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
	float: center; 	
}


.button2{
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: #9a24eb;
  text-align: center;
  border: 1px solid #9a24eb;
  color: white;
}


button p{
	color: #fff; 
}


span{
	color: #9a24eb; 
}


.aviso{
	font-size: 13px;  
	color: #0e0e0e;  
}


h1{
	font-size: 25px;  
	text-align: letf; 
	padding-bottom: 20px; 
	color: #9a24eb;
}


h3{
	font-size: 16px; 
	padding-bottom: 30px;
	color: #0e0e0e;   
}


p{
	font-size: 14px; 
	color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
  overflow-y: scroll;
}


.formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
  overflow-y: scroll;
}